In [19]:
import pandas as pan
pan.options.mode.chained_assignment = None
import numpy as np
import matplotlib.pyplot as plt

# Pre-processing

### Joining data

In [ ]:
raw_tx_features = pan.read_csv('tx_features_extract.csv')
raw_tx_in_features = pan.read_csv('tx_in_features.csv')
raw_tx_out_features = pan.read_csv('tx_out_features.csv')
address_labels = pan.read_csv('address-labels.csv')

In [34]:
merged_tx_in_tx_out = pan.merge(left= raw_tx_out_features, right= raw_tx_in_features, how="inner", on="address")
merged_tx_in_tx_out_tx = pan.merge(left= merged_tx_in_tx_out, right= raw_tx_features, how="inner", on="address")
raw_features = pan.merge(left= merged_tx_in_tx_out_tx, right= address_labels, how="inner", on="address")

### Preprocessing after join

In [20]:
raw_features = pan.read_csv('raw_features.csv')
raw_features

,address,address_out_count,sum_spent,max_spent,min_spent,avg_spent,max_index,min_index,avg_index,address_in_count,...,tx_size_max,tx_size_min,tx_num_of_inp_avg,tx_num_of_inp_max,tx_num_of_inp_min,tx_num_of_out_avg,tx_num_of_out_max,tx_num_of_out_min,SW,label
0,1129kyeRZLvvyt9wKXfszprCme5vUxPGEU,1,187029,187029,187029,187029.0,2,2,2.0,1,...,44296,44296,300.0,300,300,1.0,1,1,SA,Gambling
1,112agXBu72qPgYErvqqEqgRropHacJfH2p,1,20000000,20000000,20000000,20000000.0,0,0,0.0,1,...,14792,14792,100.0,100,100,1.0,1,1,SA,Gambling
2,112MpvBrfpEm6AQoUEZ6X5rGJDjCMWMzdU,1,120220,120220,120220,120220.0,0,0,0.0,1,...,21157,21157,132.0,132,132,2.0,2,2,SA,Cyber-Security Service
3,112THsEt2X7ih88ozzk9AraDCdyLT1Y7hT,1,784175,784175,784175,784175.0,1,1,1.0,1,...,44277,44277,300.0,300,300,1.0,1,1,SA,Gambling
4,1138ue28jT9N8dVn3SXLuBc9jCEPziCGF9,1,35543,35543,35543,35543.0,43,43,43.0,1,...,7561,7561,51.0,51,51,1.0,1,1,SA,Cyber-Security Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57195,bc1qyh4rgftkll4gc7nz9wd2qvtqnpftrs7dxhzvex,1,233874369,233874369,233874369,233874369.0,183,183,183.0,1,...,13292,13292,2.0,2,2,395.0,395,395,SA,Mining Pool
57196,bc1qykuelp5454e78rf7e70q8qhtu5f5tm6sts066k,1,1444984,1444984,1444984,1444984.0,0,0,0.0,1,...,13695,13695,3.0,3,3,402.0,402,402,SA,Mining Pool
57197,bc1qyv35fd7zz59mcdv9npan630mjnv4qlsqfhfhcz,1,4121098,4121098,4121098,4121098.0,0,0,0.0,1,...,735,735,4.0,4,4,2.0,2,2,SA,Cyber-Security Service
57198,bc1qz9em0y32zaywfjrsg4ze244fww9fhxh2c9crak,1,7578363,7578363,7578363,7578363.0,0,0,0.0,1,...,908,908,5.0,5,5,2.0,2,2,SA,Cyber-Security Service
57199,bc1qzy5msku4xa9jwu8usskzp6tav4t8y3zclvp5ja,1,224443964,224443964,224443964,224443964.0,156,156,156.0,1,...,20167,20167,3.0,3,3,599.0,599,599,SA,Mining Pool

## Removing unnecessary features

In [21]:
raw_features = raw_features.drop(['max_index', 'min_index', 'avg_index'], axis=1)
raw_features

,address,address_out_count,sum_spent,max_spent,min_spent,avg_spent,address_in_count,sum_granted,max_granted,min_granted,...,tx_size_max,tx_size_min,tx_num_of_inp_avg,tx_num_of_inp_max,tx_num_of_inp_min,tx_num_of_out_avg,tx_num_of_out_max,tx_num_of_out_min,SW,label
0,1129kyeRZLvvyt9wKXfszprCme5vUxPGEU,1,187029,187029,187029,187029.0,1,187029,187029,187029,...,44296,44296,300.0,300,300,1.0,1,1,SA,Gambling
1,112agXBu72qPgYErvqqEqgRropHacJfH2p,1,20000000,20000000,20000000,20000000.0,1,20000000,20000000,20000000,...,14792,14792,100.0,100,100,1.0,1,1,SA,Gambling
2,112MpvBrfpEm6AQoUEZ6X5rGJDjCMWMzdU,1,120220,120220,120220,120220.0,1,120220,120220,120220,...,21157,21157,132.0,132,132,2.0,2,2,SA,Cyber-Security Service
3,112THsEt2X7ih88ozzk9AraDCdyLT1Y7hT,1,784175,784175,784175,784175.0,1,784175,784175,784175,...,44277,44277,300.0,300,300,1.0,1,1,SA,Gambling
4,1138ue28jT9N8dVn3SXLuBc9jCEPziCGF9,1,35543,35543,35543,35543.0,1,35543,35543,35543,...,7561,7561,51.0,51,51,1.0,1,1,SA,Cyber-Security Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57195,bc1qyh4rgftkll4gc7nz9wd2qvtqnpftrs7dxhzvex,1,233874369,233874369,233874369,233874369.0,1,233874369,233874369,233874369,...,13292,13292,2.0,2,2,395.0,395,395,SA,Mining Pool
57196,bc1qykuelp5454e78rf7e70q8qhtu5f5tm6sts066k,1,1444984,1444984,1444984,1444984.0,1,1444984,1444984,1444984,...,13695,13695,3.0,3,3,402.0,402,402,SA,Mining Pool
57197,bc1qyv35fd7zz59mcdv9npan630mjnv4qlsqfhfhcz,1,4121098,4121098,4121098,4121098.0,1,4121098,4121098,4121098,...,735,735,4.0,4,4,2.0,2,2,SA,Cyber-Security Service
57198,bc1qz9em0y32zaywfjrsg4ze244fww9fhxh2c9crak,1,7578363,7578363,7578363,7578363.0,1,7578363,7578363,7578363,...,908,908,5.0,5,5,2.0,2,2,SA,Cyber-Security Service
57199,bc1qzy5msku4xa9jwu8usskzp6tav4t8y3zclvp5ja,1,224443964,224443964,224443964,224443964.0,1,224443964,224443964,224443964,...,20167,20167,3.0,3,3,599.0,599,599,SA,Mining Pool

## Adding Balance feature

In [22]:
raw_features['balance'] = raw_features['sum_spent'] - raw_features['sum_granted']
raw_features = raw_features.loc[raw_features['balance'] >= 0]
raw_features

,address,address_out_count,sum_spent,max_spent,min_spent,avg_spent,address_in_count,sum_granted,max_granted,min_granted,...,tx_size_min,tx_num_of_inp_avg,tx_num_of_inp_max,tx_num_of_inp_min,tx_num_of_out_avg,tx_num_of_out_max,tx_num_of_out_min,SW,label,balance
0,1129kyeRZLvvyt9wKXfszprCme5vUxPGEU,1,187029,187029,187029,187029.0,1,187029,187029,187029,...,44296,300.0,300,300,1.0,1,1,SA,Gambling,0
1,112agXBu72qPgYErvqqEqgRropHacJfH2p,1,20000000,20000000,20000000,20000000.0,1,20000000,20000000,20000000,...,14792,100.0,100,100,1.0,1,1,SA,Gambling,0
2,112MpvBrfpEm6AQoUEZ6X5rGJDjCMWMzdU,1,120220,120220,120220,120220.0,1,120220,120220,120220,...,21157,132.0,132,132,2.0,2,2,SA,Cyber-Security Service,0
3,112THsEt2X7ih88ozzk9AraDCdyLT1Y7hT,1,784175,784175,784175,784175.0,1,784175,784175,784175,...,44277,300.0,300,300,1.0,1,1,SA,Gambling,0
4,1138ue28jT9N8dVn3SXLuBc9jCEPziCGF9,1,35543,35543,35543,35543.0,1,35543,35543,35543,...,7561,51.0,51,51,1.0,1,1,SA,Cyber-Security Service,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57195,bc1qyh4rgftkll4gc7nz9wd2qvtqnpftrs7dxhzvex,1,233874369,233874369,233874369,233874369.0,1,233874369,233874369,233874369,...,13292,2.0,2,2,395.0,395,395,SA,Mining Pool,0
57196,bc1qykuelp5454e78rf7e70q8qhtu5f5tm6sts066k,1,1444984,1444984,1444984,1444984.0,1,1444984,1444984,1444984,...,13695,3.0,3,3,402.0,402,402,SA,Mining Pool,0
57197,bc1qyv35fd7zz59mcdv9npan630mjnv4qlsqfhfhcz,1,4121098,4121098,4121098,4121098.0,1,4121098,4121098,4121098,...,735,4.0,4,4,2.0,2,2,SA,Cyber-Security Service,0
57198,bc1qz9em0y32zaywfjrsg4ze244fww9fhxh2c9crak,1,7578363,7578363,7578363,7578363.0,1,7578363,7578363,7578363,...,908,5.0,5,5,2.0,2,2,SA,Cyber-Security Service,0
57199,bc1qzy5msku4xa9jwu8usskzp6tav4t8y3zclvp5ja,1,224443964,224443964,224443964,224443964.0,1,224443964,224443964,224443964,...,20167,3.0,3,3,599.0,599,599,SA,Mining Pool,0

## Potential Features

### Standard deviations
### Transaction rate(Time between two transactions)

## Adding new features

### difference between outputs and inputs counts

In [23]:
raw_features['diff_in_out_count'] = raw_features['address_out_count'] - raw_features['address_in_count']

### ratio of outputs and input counts/values

In [24]:
raw_features['ratio_in_out_count'] = raw_features['address_in_count'] / raw_features['address_out_count']
raw_features['ratio_in_out_values'] = raw_features['sum_granted'] / raw_features['sum_spent']

### Input/output Min/Max difference

In [25]:
raw_features['range_spent'] = raw_features['max_spent'] - raw_features['min_spent']
raw_features['range_granted'] = raw_features['max_granted'] - raw_features['min_granted']

### Input/Output Range to Sum Ratio

In [26]:
raw_features['ratio_range_to_value_output'] = raw_features.range_spent / raw_features.sum_spent 
raw_features['ratio_range_to_value_input'] = raw_features.range_granted / raw_features.sum_granted

### Input/Output Index Range

In [27]:
raw_features['range_output_index'] = raw_features['max_output_index'] - raw_features['min_output_index']
raw_features['range_input_index'] = raw_features['max_input_index'] - raw_features['min_input_index']

### Life Period

In [28]:
raw_features['life_period'] = raw_features['first_time_tx'] - raw_features['last_time_tx']

### Transaction-based Range

In [29]:
raw_features['range_tx_size'] = raw_features['tx_size_max'] - raw_features['tx_size_min']
raw_features['range_tx_num_of_out'] = raw_features['tx_num_of_out_max'] - raw_features['tx_num_of_out_min']
raw_features['range_tx_num_of_inp'] = raw_features['tx_num_of_inp_max'] - raw_features['tx_num_of_inp_min']

In [30]:
raw_features = raw_features.reset_index()
raw_features = raw_features.drop('index', axis=1)

### Reorder columns

In [44]:
cols = list(raw_features.columns)
sw_index = cols.index('SW')
label_index = cols.index('label')
range_inp_index = cols.index('range_tx_num_of_inp')
range_out_index = cols.index('range_tx_num_of_out')
cols[sw_index], cols[range_out_index] = cols[range_out_index], cols[sw_index]
cols[label_index], cols[range_inp_index] = cols[range_inp_index], cols[label_index]
raw_features = raw_features[cols]

### Putting Weakly addressed out

In [50]:
features = raw_features.loc[raw_features.SW == 'SA']
features = features.reset_index()
features = features.drop(['index', ''])

## Training phase

In [49]:
features

,address,address_out_count,sum_spent,max_spent,min_spent,avg_spent,address_in_count,sum_granted,max_granted,min_granted,...,range_spent,range_granted,ratio_range_to_value_output,ratio_range_to_value_input,range_output_index,range_input_index,life_period,range_tx_size,SW,label
0,1129kyeRZLvvyt9wKXfszprCme5vUxPGEU,1,187029,187029,187029,187029.0,1,187029,187029,187029,...,0,0,0.0,0.0,0,0,0,0,SA,Gambling
1,112agXBu72qPgYErvqqEqgRropHacJfH2p,1,20000000,20000000,20000000,20000000.0,1,20000000,20000000,20000000,...,0,0,0.0,0.0,0,0,0,0,SA,Gambling
2,112MpvBrfpEm6AQoUEZ6X5rGJDjCMWMzdU,1,120220,120220,120220,120220.0,1,120220,120220,120220,...,0,0,0.0,0.0,0,0,0,0,SA,Cyber-Security Service
3,112THsEt2X7ih88ozzk9AraDCdyLT1Y7hT,1,784175,784175,784175,784175.0,1,784175,784175,784175,...,0,0,0.0,0.0,0,0,0,0,SA,Gambling
4,1138ue28jT9N8dVn3SXLuBc9jCEPziCGF9,1,35543,35543,35543,35543.0,1,35543,35543,35543,...,0,0,0.0,0.0,0,0,0,0,SA,Cyber-Security Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54806,bc1qyh4rgftkll4gc7nz9wd2qvtqnpftrs7dxhzvex,1,233874369,233874369,233874369,233874369.0,1,233874369,233874369,233874369,...,0,0,0.0,0.0,0,0,0,0,SA,Mining Pool
54807,bc1qykuelp5454e78rf7e70q8qhtu5f5tm6sts066k,1,1444984,1444984,1444984,1444984.0,1,1444984,1444984,1444984,...,0,0,0.0,0.0,0,0,0,0,SA,Mining Pool
54808,bc1qyv35fd7zz59mcdv9npan630mjnv4qlsqfhfhcz,1,4121098,4121098,4121098,4121098.0,1,4121098,4121098,4121098,...,0,0,0.0,0.0,0,0,0,0,SA,Cyber-Security Service
54809,bc1qz9em0y32zaywfjrsg4ze244fww9fhxh2c9crak,1,7578363,7578363,7578363,7578363.0,1,7578363,7578363,7578363,...,0,0,0.0,0.0,0,0,0,0,SA,Cyber-Security Service
54810,bc1qzy5msku4xa9jwu8usskzp6tav4t8y3zclvp5ja,1,224443964,224443964,224443964,224443964.0,1,224443964,224443964,224443964,...,0,0,0.0,0.0,0,0,0,0,SA,Mining Pool